<link rel="stylesheet" href="{{ '/css/navbar.css' | url }}"/>

<navbar class="navbar" x-data="{ open: false }">
  <a href="{{'/' | url}}" class="desktop-logo">Nick Cox</a>

  <div class="navbar-button-container">
    <a href="{{'/' | url}}" class="mobile-logo">Nick Cox</a>

    <button x-show="!open" @click="open = true">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>

    <button x-show="open" @click="open = false">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
      </svg>
    </button>
  </div>

  <div class="desktop-navbar">
    {% for page in collections.pages %}
      <a  href="{{page.data.permalink | url}}" class="navbar-item">{{page.data.label}}</a>
    {% endfor %}
  </div>

  <div x-show="open" class="mobile-navbar" x-collapse>
    {% for page in collections.pages %}
      <a  href="{{page.data.permalink | url}}" class="navbar-item">{{page.data.label}}</a>
    {% endfor %}
  </div>

  <div @click="open = false" x-show="open" class="mobile-navbar-overlay"></div>
</navbar>