{% extends "./base.njk" %}

{% block styles %}
  <link rel="stylesheet" href="{{'/css/blog.css' | url}}"/>
{% endblock %}

{% block content %}
  <main class="content">
    <div class="blog-content">
      <h1>{{title}}</h1>

      <p class="blog-content-date">{{page.date | postDate}}</p>

      {{content | safe}}

      {% if originally_published %}
        <p class="blog-content-originally-published">
          This blog post was originally published 
          <a href="{{originally_published}}" target="_blank">here</a>.
        </p>
      {% endif %}
    </div>
  </main>
{% endblock %}